<table class="tablesorter table_recent" style="width:100%;">
    <thead>
        <tr>
                <th class="header">승</th>
                <th style="text-align:center;" class="header">챔피언</th>
                <th class="header">타입</th>
                <th class="header">KDA</th>
                <th class="header">킬관여</th>
                <th style="width:40px;" class="header">S/R</th>
                <th style="width:114px;" class="header">팀</th>
                <th style="width:88px;" class="header">아이템</th>
                <th class="header">LV/G/CS</th>
                <th class="header">플레이</th>
                <th class="header">와드</th>
                <th style="text-align:center;" class="header">+</th>
        </tr>
    </thead>
    <tbody>
    <tr><td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center;">패</td><td class="recent_td recent_champ" champ_no="202" style="background:#FFEEEE; vertical-align:middle; text-align:center; width:52px; padding:0px;"><div style="position:relative; width:100%; height:100%;">
	    <img src="//z.fow.kr/champ/202_64.png" alt="챔피언" width="48" height="48">
	    <div style="position:absolute; width:48px; height:14px; bottom:0px; left:2px; text-align:center; background-color:black; filter:alpha(opacity=80); -moz-opacity:0.8; opacity: 0.8; color:white; font-size:12px;">
		    <b>진</b>
	    </div>
    </div>
    </td><td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; padding:2px;">격전</td>
    <td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; padding:0px;"><font color="#CC4444"><b><u>평점 4.33</u></b></font><br>6 / 3 / 7<span style="font-size:11px; font-family:arial;"><br><span style="border-radius:3px; -moz-border-radius:3px; -webkit-border-radius: 3px; border:1px solid #FBB; background-color:#FFF; padding:0px 1px 0px 1px;">더블킬</span></span></td>
    <td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; font-size:13px; font-family:Arial;">54%</td>
    <td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; width:28px; padding:0px;"><img width="20" src="//z.fow.kr/spell/7.png"><img class="show_new_build tipsy_live" alt="룬" tipsy="<DIV style='text-align:left;'><SPAN style='color:#8F8; font-weight:700;'>< 어둠의 수확 ></SPAN><BR><BR>체력이 50%보다 낮은 챔피언에게 피해를 입히면 적응형 피해를 추가로 입히고 해당 챔피언의 영혼을 수확해 어둠의 수확 효과의 피해량이 영구적으로 5만큼 증가합니다.<br><br>어둠의 수확 피해량: 20~60 (레벨에 비례) (+영혼당 피해량 5) (+추가 공격력의 0.25) (+주문력의 0.15)<br>재사용 대기시간: 45초 (처치 관여 시 1.5초로 초기화)</DIV>" src="//z.fow.kr/img/perk/8128.png?v=3" style="width:20px; border:0;cursor:pointer;" gid="4830872185}" sid="30180982" cid="202"><br><img width="20" src="//z.fow.kr/spell/4.png"><img class="show_new_build tipsy_live" alt="룬" tipsy="<DIV style='text-align:left;'><SPAN style='color:#8F8; font-weight:700;'>< 정밀 ></SPAN><BR><BR>공격 강화 및 지속적 피해</DIV>" src="//z.fow.kr/img/perk/8000.png?v=3" style="width:20px; opacity:0.3; border:0;cursor:pointer;" gid="4830872185}" sid="30180982" cid="202" original-title=""></td>
    <td class="recent_td" style="background:#FFEEEE;"><div style="border:0;"><img src="//z.fow.kr/champ/154_64.png" class="tipsy_live" alt="자크" tipsy="자크" width="20"><img src="//z.fow.kr/champ/92_64.png" class="tipsy_live" alt="리븐" tipsy="리븐" width="20"><img src="//z.fow.kr/champ/53_64.png" class="tipsy_live" alt="블리츠크랭크" tipsy="블리츠크랭크" width="20"><img src="//z.fow.kr/champ/103_64.png" class="tipsy_live" alt="아리" tipsy="아리" width="20"></div><div style="border:0;"><img src="//z.fow.kr/champ/62_64.png" class="tipsy_live" alt="오공" tipsy="오공" width="20" original-title=""><img src="//z.fow.kr/champ/84_64.png" class="tipsy_live" alt="아칼리" tipsy="아칼리" width="20" original-title=""><img src="//z.fow.kr/champ/40_64.png" class="tipsy_live" alt="잔나" tipsy="잔나" width="20"><img src="//z.fow.kr/champ/78_64.png" class="tipsy_live" alt="뽀삐" tipsy="뽀삐" width="20"><img src="//z.fow.kr/champ/22_64.png" class="tipsy_live" alt="애쉬" tipsy="애쉬" width="20"></div></td>
    <td class="recent_td" style="background:#FFEEEE;"><div style="position:relative; width:100%; height:100%;"><img width="20" src="//z.fow.kr/items3/3009.png" class="tipsy_live" tipsy="신속의 장화"><img width="20" src="//z.fow.kr/items3/6692.png" class="tipsy_live" tipsy="월식"><img width="20" src="//z.fow.kr/items3/6676.png" class="tipsy_live" tipsy="징수의 총" original-title=""><img width="20" src="//z.fow.kr/items3/3363.png" class="tipsy_live" tipsy="망원형 개조"><br><img width="20" src="//z.fow.kr/items3/3094.png" class="tipsy_live" tipsy="고속 연사포"><img width="20" src="//z.fow.kr/items3/3031.png" class="tipsy_live" tipsy="무한의 대검"><img width="20" src="//z.fow.kr/items3/1055.png" class="tipsy_live" tipsy="도란의 검"><img class="show_new_build tipsy_live" alt="빌드 보기" src="//z.fow.kr/img/item_detail.png" width="20" style="cursor:pointer;" tipsy="빌드 보기" gid="4830872185" sid="30180982" cid="202"></div></td><td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; padding:0px; font-size:11px;">레벨 15<br><b>골드 14,244</b><br><span class="tipsy_live" style="font-size:11px;" tipsy="미니언킬 / 분당CS<BR/>적정글: 0" original-title="">CS 283 (9.3)</span></td>
    <td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; line-height:13px; font-size:11px;"><span style="font-size:11px;">30분 23초 </span><br><span class="tipsy_live" tipsy="2020-12-06 23:16:11" style="font-size:11px;">2일  전</span></td>
    <td class="recent_td tipsy_live" style="line-height:14px; font-size:12px; background:#FFEEEE; vertical-align:middle; text-align:center;" tipsy="제어와드 구매<BR>와드설치/와드제거"><img src="//z.fow.kr//items3/2055.png" alt="제어와드 설치 수" style="width:14px; border:0; height:14px; margin:4px; vertical-align:middle;">2<br>12 / 0</td>
    <td class="recent_td" style="background:#FFEEEE; vertical-align:middle; text-align:center; font-size:11px; cursor:pointer;">▼</td></tr>
    </tbody>
</table>